---
import BaseLayoutMember from "@/layouts/BaseLayoutMembers.astro";
import miembros from "@/data/members.json";
import ReturnButton from "@/components/ReturnButton.astro";

export async function getStaticPaths() {
  return miembros.map((miembro) => ({
    params: {
      miembro: miembro.nickname
    },
    props: {
      miembros: miembro
    },
  }));
}
const { name, nickname, born, name_korea, image } = Astro.props.miembros;
---

<BaseLayoutMember title="Miembros" textColor='text-black'>

  <div class="space-y-10">
    <ReturnButton pagina = "miembros"/>
    <div class="max-w-6xl mx-auto">

      <div class="flex flex-col lg:grid lg:grid-cols-2 lg:justify-center">
        
        <div class="space-y-2">
          <h1 class="text-5xl lg:text-7xl font-semibold">{name}</h1>
          <div class="w-56 lg:w-72 bg-zinc-900 h-1"></div>

          <div>
            <p class="text-xl lg:text-2xl">{nickname}</p>
            <p class="text-xl lg:text-2xl">{born}</p>
            <p class="text-xl lg:text-2xl">{name_korea}</p>
          </div>

        </div>

        <div class="grid justify-center">
          <img src={image} class="lg:h-[700px] lg:w-[500px] object-contain" alt="" />
        </div>

      </div>
    </div>
  </div>
</BaseLayoutMember>

<style>
    img {
    mask-image: linear-gradient(black 80%, transparent);
  }
</style>
