---
import ImageEffect from "./ImageEffect.astro";

const { name, releaseDate, coverArt, id } = Astro.props;
---

<div class="flex flex-col justify-center items-center">
  <div class="album-cover">
    <ImageEffect
      carpeta="infoAlbums",
      id={id},
      coverArt={coverArt},
      altDescripcion={name},
      nombreAlbum={name}
      width= "400px"
      height= "400px"
    />
  </div>

  <div>
    <a href={`/infoAlbums/${id}`} class="font-semibold">{name}</a>
  </div>

  <div class="album-fecha">
    <p>{releaseDate}</p>
  </div>
</div>